div.overlay {
	background-color: #000;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.overlay > c-spinner {
	width: 5rem;
	height: 5rem;
}

div.big-card__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min-content;
}

div.big-card__photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	gap: .5rem;
}

div.big-card__photo > img {
	width: 35rem;
	height: 22rem;
	object-fit: cover;
	object-position: top;
}

div.big-card__photo > p {
	color: #363636;
	font-size: .8rem;
	font-weight: 600;
}

div.big-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	gap: .5rem;
}

div.big-card__content > a > h1 {
	color: #cdcdcd;
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0;
}

div.big-card__content > a > h1:hover {
	background: linear-gradient(to right, #fe2c85, #f86838);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

div.big-card__content > p {
	color: #707070;
	font-weight: 500;
	font-size: 1.1rem;
}
