div.overlay {
	background-color: #000;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.overlay > c-spinner {
	width: 5rem;
	height: 5rem;
}

div.big-card__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: min-content;
	gap: .5rem;
}

div.big-card__photo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	gap: .5rem;
}

div.big-card__photo > img {
	width: 35rem;
	height: 22rem;
	object-fit: cover;
	object-position: top;
}

div.big-card__photo > p {
	color: #363636;
	font-size: .8rem;
	font-weight: 600;
}

div.big-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: baseline;
	gap: .5rem;
	width: 100%;
	height: min-content;
	overflow: hidden;
	text-overflow: clip;
}

div.big-card__content > a {
	height: min-content;
	text-overflow: ellipsis;
}

div.big-card__content > a > h1 {
	color: #cdcdcd;
	font-size: 1.6rem;
	font-weight: 600;
	margin: 0;
	text-overflow: ellipsis;
}

div.big-card__content > p {
	color: #707070;
	font-weight: 500;
	font-size: 1.1rem;
}

a:hover > div.big-card__container > div.big-card__content > a > h1 {
	background: linear-gradient(to right, #fe2c85, #f86838);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scaling {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.scaling:hover {
	transform: scale(1.03);
}

@media (max-width: 768px) {
	div.big-card__photo > img {
		width: 18rem;
		height: 12rem;
	}

	div.big-card__content > a > h1 {
		font-size: 1.3rem;
	}

	div.big-card__content {
		height: min-content;
		text-overflow: ellipsis;
	}
}
