<div class="big-card__container">
	<div class="big-card__photo">
		<img src="{{placeholderImg}}" alt="Imagem default">
		<p>{{date.toDateString()}}</p>
	</div>
	<div class="big-card__content">
		<a href="#">
			<h1>
				lorem ipsum dolor sit amet, consectetur adipiscing elit. sed
			</h1>
		</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, quam fugit ipsum perspiciatis earum explicabo atque. Placeat repudiandae sapiente commodi maiores atque in cupiditate. Aut provident illo error amet voluptatum?</p>
	</div>
</div>
