div.small-card__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

div.small-card__photo > img {
	width: 15rem;
	height: 9rem;
	object-fit: cover;
	object-position: top;
}

div.small-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: .8rem;
}

div.small-card__content > p {
	color: #363636;
	font-size: .8rem;
	font-weight: 600;
}

div.small-card__content > a > h1 {
	color: #cdcdcd;
	font-size: 1.5rem;
	font-weight: 600;
}

div.small-card__content > a > h1:hover {
	background: linear-gradient(to right, #fe2c85, #f86838);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
