div.small-card__container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

div.small-card__photo > img {
	width: 15rem;
	height: 9rem;
	object-fit: cover;
	object-position: top;
}

div.small-card__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: .5rem;
}

div.small-card__content > p {
	color: #363636;
	font-size: .8rem;
	font-weight: 600;
	margin: 0;
}

div.small-card__content > a {
	width: 30rem;
}

div.small-card__content > a > h1 {
	color: #cdcdcd;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0;
}

a:hover > div.small-card__container > div.small-card__content > a > h1 {
	background: linear-gradient(to right, #fe2c85, #f86838);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scaling {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.scaling:hover {
	transform: scale(1.05);
}

@media (max-width: 768px) {
	div.small-card__photo > img {
		width: 8rem;
		height: 5rem;
	}

	div.small-card__content > a {
		width: 10rem;
	}

	div.small-card__content > a > h1 {
		color: #cdcdcd;
		font-size: 1rem;
		font-weight: 600;
		margin: 0;
	}
}
