div.home__main {
	height: 100%;
}

div.articles__container {
	display: flex;
	flex-flow: row nowrap;
	gap: 5rem;
	justify-content: center;
	align-items: flex-start;
}

div.articles__others {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .5rem;
}

div.articles__others > hr {
	width: 100%;
	opacity: 0.1;
}

@media (max-width: 768px) {
	div.articles__container {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding-bottom: 1rem;
	}
}
