<div class="menu-bar__container container">
	<div class="menu-bar__perfil">
		<div class="menu-bar__user">
			<a href="https://www.linkedin.com/in/andrehorman/" target="_blank">
				<img src="/assets/andre.jpg" alt="Minha foto">
			</a>
		</div>
		<p>PROJETO BLOG ANGULAR</p>
	</div>
	<ul>
		<ng-icon name="bootstrapLinkedin" ></ng-icon>
		<li><a href="https://www.linkedin.com/in/andrehorman/" target="_blank">Linkedin</a></li>
		<li><span>|</span></li>
		<ng-icon name="bootstrapGithub" ></ng-icon>
		<li><a href="https://github.com/ANDREHORMAN1994" target="_blank">Github</a></li>
		<li><span>|</span></li>
		<ng-icon name="bootstrapStars" ></ng-icon>
		<li><a href="https://portfolio-andre-horman.vercel.app/" target="_blank">Portfolio</a></li>
	</ul>
</div>
