div.menu-bar__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
	margin-top: 1rem;
}

div.menu-bar__perfil {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	gap: 2rem;
}

div.menu-bar__perfil > p {
	background: linear-gradient(to right, #fe2c85, #f86838);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

div.menu-bar__user {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #727272;
	padding: 2px;
}

div.menu-bar__user:hover {
	background: linear-gradient(to right, #fe2c85, #f86838);
}

div.menu-bar__user > a > img {
	width: 100%;
	border-radius: 50%;
}

div.menu-bar__container > ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: end;
	gap: 1rem;
	list-style: none;
	margin: 0;
}

div.menu-bar__container > ul > li > a, span {
	color: #727272;
	text-transform: uppercase;
}

div.menu-bar__container > ul > li > a:hover {
	background: linear-gradient(to right, #fe2c85, #f86838);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
